<!DOCTYPE html>
<html>
<head>
  <title>Palindromizer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 text-decoration = 'none'><%= link_to 'THE PALINDROMIZER!!', root_path %><h1>
<%= yield %>

<%= link_to 'See previous entries', display_path %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
